*{
    margin: 0;
    padding: 0;
    
}
.container {
    width: 1280px;
    margin: 0 auto;
}
.logo {
    width: 100px;
    float: left;
   
}
/*----------------------header------------*/
header{
    background-color: #c3fba3;
    clear: both;
    width: 100%;
    min-width: 40px;
    
}
header, section, footer {
    padding: 30px 0;
}


/*----------------------footer------------*/
footer {
    background-color: #c3fba3;
    width: 100%;
    min-width: 40px;
    clear: both;
}
footer p{
    float: left;
    color: black;
}
#midias-sociais{
    float: right;
}
.icons {
    width: 20px;
}
#midias-sociais img :hover {
    transform: rotate(15deg);
    transition: all 0.3s;
}
#midias-sociais a {
    text-decoration: none;
}
